**CONTENTS**

Loading libraries and data frame

Changing column names

Change data type

Basic checks on data

Looking for missing values / observations

Excluding columns

Merging data frames

Troubleshooting when merging

Tidying new dataframe

Export to drive as pickle

**Part 1 - Instructions**

    Download the customer data set and add it to your “Original Data” folder.
    Create a new notebook in your “Scripts” folder for part 1 of this task.
    Import your analysis libraries, as well as your new customer data set as a dataframe.
    Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.
    Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.
    Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)
    Ensure your notebook contains logical titles, section headings, and descriptive code comments.
    Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.
    Save your notebook so that you can send it to your tutor for review after completing part 2.

**Loading libraries and data frame**

In [ ]:
## -- Loading Libraries --
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [ ]:
#Importing the new df
customers = pd.read_csv(r'/content/customers.csv', index_col = False)

In [ ]:
#Checking customers

In [ ]:
customers.head(20)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072
10,26441,Gloria,Stafford,Female,Nevada,19,1/1/2017,2,living with parents and siblings,43443
11,33835,Roger,Casey,Male,Nebraska,45,1/1/2017,2,married,47988
12,75032,Cynthia,Mcdaniel,Female,Georgia,75,1/1/2017,1,married,57835
13,51,Stephanie,Jensen,Female,Wyoming,37,1/1/2017,1,married,71190
14,516,Peter,Hunt,Male,Colorado,51,1/1/2017,2,married,146559
15,6965,Brandon,Mata,Male,North Dakota,70,1/1/2017,0,divorced/widowed,100091
16,8794,Amy,Mack,Female,Nebraska,30,1/1/2017,3,married,57096
17,9944,Brian,Oneill,Male,Wisconsin,26,1/1/2017,1,married,91826
18,13313,Victor,Moss,Male,Alaska,31,1/1/2017,2,married,91111
19,17335,Patrick,Fowler,Male,Vermont,65,1/1/2017,1,married,34514

**Changing column names**

In [ ]:
#Changing column names#

customers.rename(columns={'Surnam': 'Family_Name'}, inplace=True)
customers.rename(columns={'First Name': 'Given_Name'}, inplace=True)
customers.rename(columns={'STATE': 'State'}, inplace=True)
customers.rename(columns={'n_dependants': 'number_dependents'}, inplace=True)
customers.rename(columns={'fam_status': 'family_circumstance'}, inplace=True)

In [ ]:
customers.head(20)

,user_id,Given_Name,Family_Name,Gender,State,Age,date_joined,number_dependents,family_circumstance,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072
10,26441,Gloria,Stafford,Female,Nevada,19,1/1/2017,2,living with parents and siblings,43443
11,33835,Roger,Casey,Male,Nebraska,45,1/1/2017,2,married,47988
12,75032,Cynthia,Mcdaniel,Female,Georgia,75,1/1/2017,1,married,57835
13,51,Stephanie,Jensen,Female,Wyoming,37,1/1/2017,1,married,71190
14,516,Peter,Hunt,Male,Colorado,51,1/1/2017,2,married,146559
15,6965,Brandon,Mata,Male,North Dakota,70,1/1/2017,0,divorced/widowed,100091
16,8794,Amy,Mack,Female,Nebraska,30,1/1/2017,3,married,57096
17,9944,Brian,Oneill,Male,Wisconsin,26,1/1/2017,1,married,91826
18,13313,Victor,Moss,Male,Alaska,31,1/1/2017,2,married,91111
19,17335,Patrick,Fowler,Male,Vermont,65,1/1/2017,1,married,34514

So, there is plenty of difference, we will keep this column

I don't know if I can drop any columns based on what I need to analyse - beacuse I don't know what I need to analyse yet

In [ ]:
#looking at all the data, starting with using "describe"#

customers.describe()

             user_id            Age  number_dependents         income
count  206209.000000  206209.000000      206209.000000  206209.000000
mean   103105.000000      49.501646           1.499823   94632.852548
std     59527.555167      18.480962           1.118433   42473.786988
min         1.000000      18.000000           0.000000   25903.000000
25%     51553.000000      33.000000           0.000000   59874.000000
50%    103105.000000      49.000000           1.000000   93547.000000
75%    154657.000000      66.000000           3.000000  124244.000000
max    206209.000000      81.000000           3.000000  593901.000000

**Change data type**

In [ ]:
## Don't want to perform any calculations on user_id, it's just a descriptor - so change type to String

customers['user_id'] = customers['user_id'].astype('str')

In [ ]:
#check that#

customers.describe()

                 Age  number_dependents         income
count  206209.000000      206209.000000  206209.000000
mean       49.501646           1.499823   94632.852548
std        18.480962           1.118433   42473.786988
min        18.000000           0.000000   25903.000000
25%        33.000000           0.000000   59874.000000
50%        49.000000           1.000000   93547.000000
75%        66.000000           3.000000  124244.000000
max        81.000000           3.000000  593901.000000

Nothing else stands out in rest of the Continuous Data

**Basic checks on data**

In [ ]:
#Go back to basics and look at the shape and types #

customers.shape

(206209, 10)

In [ ]:
customers.dtypes

user_id                object
Given_Name             object
Family_Name            object
Gender                 object
State                  object
Age                     int64
date_joined            object
number_dependents       int64
family_circumstance    object
income                  int64
dtype: object

All looks in order

**Looking for missing values / observations**

In [ ]:
#Checking how many missing observations (cells/datapoints) there are in customers

customers.isnull().sum()

user_id                    0
Given_Name             11259
Family_Name                0
Gender                     0
State                      0
Age                        0
date_joined                0
number_dependents          0
family_circumstance        0
income                     0
dtype: int64

So, we know there are a lot of missing values in Given_Name - but we don't know that's an issue. It's unlikley to be an issue, anaylsis is unlikley to depend on this. So let's delete that column.

**Excluding columns**

In [ ]:
##excluding Given_Name column

customers2 = customers.drop(columns = ['Given_Name'])

In [ ]:
# Finding duplicates

## looking for rows that have identical data

customers_dups = customers2[customers2.duplicated()]

In [ ]:
#Seeing what we have

customers_dups

Empty DataFrame
Columns: [user_id, Family_Name, Gender, State, Age, date_joined, number_dependents, family_circumstance, income]
Index: []

No duplicate rows - so nothign further to do

Can now join to my other data set, on user_id

**Merging data frames**

In [ ]:
#Importing google drive#

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Importing the most recent df from drive#
#REMEMBER this is a subset of the whole data#

df = pd.read_pickle('/content/drive/MyDrive/group_aggregate.pkl')

In [ ]:
#Get the shape of both, so can see if done right

customers2.shape

(206209, 9)

In [ ]:
df.shape

(1000000, 25)

In [ ]:
#merging on user_id

df_merged= df.merge(customers2, on = 'user_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

**Troubleshooting when merging**

So, user_id is not an object in the original data frame. so let's change it

In [ ]:
## changing user_id in df

df['user_id'] = df['user_id'].astype('str')

In [ ]:
#this should now work

df_merged= df.merge(customers2, on = 'user_id', indicator = 'merge_indicator')

ValueError: Cannot use name of an existing column for indicator column

So, there's already a 'merge' column in our orginal data frame - let's get rid of that

In [ ]:
df.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,_merge,price_range_loc,busiest_days,busiest_time,max_order,loyalty_flag,average_order,spending_flag,order_frequency,frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,2907475,96682,prior,23,...,both,Mid-range product,Least busy days,Busiest time,23,Regular customer,5.440000,Low spender,11.5,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,3038506,39081,prior,16,...,both,Mid-range product,Regularly busy days,Regularly busy time,29,Regular customer,9.383333,Low spender,10.5,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,3185203,95847,prior,49,...,both,Mid-range product,Busiest days,Regularly busy time,93,Loyal customer,6.388571,Low spender,4.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,1830804,14910,prior,56,...,both,Mid-range product,Least busy days,Regularly busy time,56,Loyal customer,6.914286,Low spender,5.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,...,both,Mid-range product,Busiest days,Regularly busy time,25,Regular customer,7.580000,Low spender,12.0,Regular customer

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
##excluding _merge column from df

df2 = df.drop(columns = ['_merge'])

In [ ]:
#merging on user_id

df_merged= df2.merge(customers2, on = 'user_id', indicator = True)

In [ ]:
df_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,...,frequency_flag,Family_Name,Gender,State,Age,date_joined,number_dependents,family_circumstance,income,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,2907475,96682,prior,23,...,Regular customer,Bond,Female,Mississippi,71,1/8/2018,2,married,37754,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,3038506,39081,prior,16,...,Regular customer,Sosa,Female,Indiana,60,1/16/2017,1,married,143885,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,3185203,95847,prior,49,...,Frequent customer,Douglas,Male,Kentucky,27,8/24/2018,3,married,98288,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,1830804,14910,prior,56,...,Frequent customer,Valdez,Male,Kentucky,67,6/18/2019,0,divorced/widowed,39625,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,...,Regular customer,Wallace,Female,Hawaii,51,1/4/2019,2,married,57797,both

**Tidying new dataframe**

In [ ]:
##clean up the Unamed: 0 column

df_merged_clean = df_merged.drop(columns = ['Unnamed: 0'])

In [ ]:
df_merged_clean

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,frequency_flag,Family_Name,Gender,State,Age,date_joined,number_dependents,family_circumstance,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,2907475,96682,prior,23,4,...,Regular customer,Bond,Female,Mississippi,71,1/8/2018,2,married,37754,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,3038506,39081,prior,16,2,...,Regular customer,Sosa,Female,Indiana,60,1/16/2017,1,married,143885,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,3185203,95847,prior,49,1,...,Frequent customer,Douglas,Male,Kentucky,27,8/24/2018,3,married,98288,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,1830804,14910,prior,56,4,...,Frequent customer,Valdez,Male,Kentucky,67,6/18/2019,0,divorced/widowed,39625,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,Regular customer,Wallace,Female,Hawaii,51,1/4/2019,2,married,57797,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,16908,Jacob's Wonderbar Dark Roast,26,7,4.5,1503923,48762,prior,5,0,...,Non-frequent customer,Powell,Female,Colorado,48,3/14/2020,2,married,98373,both
999996,16908,Jacob's Wonderbar Dark Roast,26,7,4.5,332771,101583,prior,4,6,...,Non-frequent customer,Mcintosh,Female,South Dakota,70,8/23/2019,3,married,151666,both
999997,16908,Jacob's Wonderbar Dark Roast,26,7,4.5,290484,7492,prior,23,0,...,Frequent customer,Truong,Male,Vermont,32,2/8/2018,3,married,55045,both
999998,16908,Jacob's Wonderbar Dark Roast,26,7,4.5,1905323,49098,prior,10,1,...,Frequent customer,Mcintosh,Female,Minnesota,41,9/16/2019,0,single,129008,both
999999,16908,Jacob's Wonderbar Dark Roast,26,7,4.5,498121,110916,prior,39,1,...,Frequent customer,Hamilton,Female,South Dakota,31,10/8/2018,0,single,100397,both

Can see this has 1,000,000 rows as we wanted - we have ADDED the customer date TO the existing df.

Was a total of 34 columns - but one was common, and we've just removed one - so correct to have 32 columns too

**Export to drive as pickle**

In [ ]:
#Export to drive#

df_merged_clean.to_pickle('/content/drive/MyDrive/4.9_merged_clean.pkl')